<div class="player" [style.background-color]="_score < 21 ? 'white' : (_score == 21 ? 'green' : 'red')">
    <div class="playerName">{{_player.name}}</div>
    <div class='cardList'>
        <card *ngFor="let c of _player.cards" [card]="c" (notify)="countScore()"></card>
    </div>
    <div *ngIf="!_player.isBot && !playerFinishedRound" id='user-input'>
        <button class="btn btn-primary" (click)="askForCard()">Draw</button>
        <button class="btn btn-warning" (click)="stand()">Stand</button>
    </div>
</div>
<p>{{_score}}</p>
