
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableBlock"></div>

<div id="editBlock">
    <p><b>Edit Game</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Start: </label></td><td><input type="text" id="editStart" /></td></tr>
        <tr><td><label>End: </label></td><td><input type="text" id="editEnd" /></td></tr>
    </table>
    <button id="editGame">Save</button>
</div>

<div id="createBlock">
    <p><b>Create Game</b></p>
    <table>
        <tr><td><label>Start: </label></td><td><input type="datetime-local" id="createStart" /></td></tr>
    </table>
    <button id="createGame">Create</button>
</div>

@section scripts
{
    <script src="~/Scripts/Games.js" type="text/javascript"></script>
}

