
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableBlock"></div>

<div id="editBlock">
    <p><b>Edit RoundPlayer</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>RoundId: </label></td><td><select id="editRoundId" required></select></td></tr>
        <tr><td><label>PlayerId: </label></td><td><select id="editPlayerId"></select></td></tr>
        <tr><td><label>Cards: </label></td><td><input type="text" id="editCards" /></td></tr>
    </table>
    <button id="editRoundPlayer">Save</button>
</div>

<div id="createBlock">
    <p><b>Create RoundPlayer</b></p>
    <table>
        <tr><td><label>RoundId: </label></td><td><select id="createRoundId" required></select></td></tr>
        <tr><td><label>PlayerId: </label></td><td><select id="createPlayerId"></select></td></tr>
        <tr><td><label>Cards: </label></td><td><input type="text" id="createCards"/></td></tr>
    </table>
    <button id="createRoundPlayer">Create</button>
</div>

@section scripts
{
    <script src="~/Scripts/RoundPlayers.js" type="text/javascript"></script>
}

