<h1>Rounds</h1>
<button 
        (click)="add()">
  Add
</button>
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>GameId</td>
      <td>Deck</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of rounds">
      <ng-template [ngIf]="round?.Id != r.Id" [ngIfElse]="edit">
        <td>{{r?.Id}}</td>
        <td>{{r?.GameId}}</td>
        <td>{{r?.Deck}}</td>
        <td>
          <p class="k-block">
            <button 
                    (click)="editRound(r)">
              Edit
            </button>
            <button 
                    (click)="delete(r)">
              Delete
            </button>
          </p>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="round.Id" />
  </td>                           
  <td>                            
    <input type="text" [(ngModel)]="round.GameId" />
  </td>                            
  <td>                              
    <input type="text" [(ngModel)]="round.Deck" />
  </td>

  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>


<ng-template #create>
  <div>
    <label>Id</label>
    <input type="text" [(ngModel)]="round.Id" />
  </div>
  <div>
    <label>GameId</label>
    <input type="text" [(ngModel)]="round.GameId" />
  </div>
  <div>
    <label>Deck</label>
    <input type="text" [(ngModel)]="round.Deck" />
  </div>

  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
