body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#tableBlock {
    display: inline-block;
    margin: 20px;
}

#editBlock {
    display: block;
    margin: 20px;
    display: none;
    float: right;
}

#createBlock {
    display: block;
    margin: 20px;
    float: right
}
#dialog {
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

#roundBody{
    position: relative;
    background-image: url('Pictures/cardTableBackground.jpg');
    height: 700px;
    width: auto;
}


.player{
    position: absolute;
    display: block;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.card{
    display:inline-block;

}
    .card img {
        width: 60px;
        height: 90px;
    }


#roundSummary {
    position: relative;
    width: 200px;
    height: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}
#startNextRound{
    float: left;
}

#quitGame{
    float:right;
}
span.clear {
    clear: left;
    display: block;
}