<div style="text-align:center">
    <h1 class="title">Blackjack</h1>
    <nav>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/home']"> Home</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/counter']"> Counter</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/fetch-data']"> Fetch-Data</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/blackjack']"> Play</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/games']"> Games</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/players']"> Players</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/rounds']"> Rounds</button>
        <button kendoButton [look]="'bare'" [routerLinkActive]="['link-active']" [routerLink]="['/roundPlayers']"> RoundPlayers</button>
    </nav>
</div>
<router-outlet></router-outlet>
