<p>game status : {{gameIsGoingOn}}</p>

<div *ngIf="roundFinished" id="roundSummary">
  <div class="message">{{message}}</div>
  <button kendoButton id="startNextRound" (click)="moveToTheNextRound()">Next Round</button>
  <button kendoButton id="quitGame" (click)="finishGame()" class="btn btn-danger">Quit</button>
  <span class="clear"></span>
</div>

<div id="gameBody" *ngIf="gameIsGoingOn; else start">
  <div id="roundBody">
    <!--<player *ngFor="let player of gameData.Players" [_player]="player" [_cards]="player.Cards" (standing)="finishRound($event)"></player>-->

      <div  *ngFor="let player of players" class="player">
        <div class="playerName">{{player.Name}}</div>
        <div class='cardList'>
          <div *ngFor="let c of player.Cards" class="card">
            <img [src]="c.uri" />
          </div>
        </div>

        <div *ngIf="!player.IsBot" id='user-input'>
          <button kendoButton (click)="drawCard(player)">Draw</button>
          <button kendoButton (click)="finishRound()">Stand</button>
        </div>
      </div>

  </div>
</div>

<ng-template #start>
  <game-start (begin)="onBegin($event)"></game-start>
</ng-template>



