<div id="gameBody" *ngIf="gameIsGoingOn; else start">
    <div id="roundBody">

        <div class="player" *ngFor="let player of gameData.players" [style.background-color]="player.score < 21 ? 'white' : (player.score == 21 ? 'green' : 'red')"
             [style.left.px]="player.x" [style.top.px]="player.y">
            <div class="playerName">{{player?.name}}</div>
            <div class='cardList'>
                <div *ngFor="let card of player.cards" class="card" [style.margin-right]="player.cards.indexOf(card) < player.cards.length-1 ? '-40px' : '0px'">
                    <img src={{card?.uri}} />
                </div>

            </div>
            <div *ngIf="!player.isBot && !roundFinished" id='user-input'>
                <ng-template [ngIf]="canPlaceBets" [ngIfElse]="drawOrStand">
                    Make your bet:
                    <input type="number" [(ngModel)]="player.bet" [max]="player.chips" min="1" />
                    <button class="btn btn-primary" (click)="continueGame()">Continue</button>
                </ng-template>
                <ng-template #drawOrStand>
                    <button class="btn btn-primary" (click)="drawCard(player)">Draw</button>
                    <button class="btn btn-warning" (click)="finishRound()">Stand</button>
                </ng-template>
            </div>
            <div *ngIf="player.name!='Dealer'">
                <p>bet:{{player?.bet}}</p>
            </div>
            <p>{{player?.score}}</p>
        </div>

    </div>
</div>
<div *ngIf="gameIsGoingOn && roundFinished" id="roundSummary">
    <div class="message">{{message}}</div>
    <button class="btn btn-primary" id="startNextRound" (click)="moveToTheNextRound()">Next Round</button>
    <button class="btn btn-danger" id="quitGame" (click)="finishGame()">Quit</button>
    <span class="clear"></span>
</div>

<ng-template #start>
    <game-start (begin)="onBegin($event)"></game-start>
</ng-template>



