<div class="jumbotron">
    <h1>BlackJack</h1>

    <form method="post">

            <div class="form-group">
                <label for="PlayerName">Your name:</label>
                <input class="form-control" type="text" name="PlayerName" value="" />
            </div>
            <div class="form-group">
                <label for="NumberOfPlayers">Number of Players:</label>
                <input class="form-control"type="text" name="NumberOfPlayers" value="" />
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <input class="btn btn-default" type="submit" value="Play" />
            </div>
    
    </form>
    
</div>
