#roundBody {
  background-image: url('../../../assets/images/cardtablebackground.jpg');
  position: relative;
  height: 700px;
  width: auto;
}

#roundSummary {
  position: relative;
  width: 200px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

#startNextRound {
  float: left;
}

#quitGame {
  float: right;
}

span.clear {
  clear: left;
  display: block;
}

.player {
  /*position: absolute;*/
  display: inline-block;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  margin: 20px;
}

.card {
  display: inline-block;
}

  .card img {
    width: 60px;
    height: 90px;
  }
